namespace: nilabja-haldar-dev
replicaCount: 1
Name: prometheus
saName: prometheus-sa
containerPort: 9090

image:
  repository: prom/prometheus
  tag: latest
  pullPolicy: Always

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

service:
  type: ClusterIP
  port: 9090
  targetPort: 9090
  name: prometheus

route:
  name: prometheus
  tls:
    termination: edge        # Options: edge | passthrough | reencrypt
    insecurePolicy: Allow    # Options: Allow | Redirect | None  

serviceAccount:
  name: prometheus-sa

alertmanager:
  host: "172.30.107.173:9093"

configMapName: prometheus-config  

scrapeTargets:
  - job_name: "prometheus"
    targets: ["localhost:9090"]
    labels:
      app: "prometheus"
  - job_name: "deploy-one"
    targets: ["172.30.20.193:9100"]
    labels:
      app: "deploy-one"
  - job_name: "deploy-two"
    targets: ["172.30.46.144:9100"]
    labels:
      app: "deploy-two"

volumeMounts:
  - name: prometheus-storage
    mountPath: /prometheus

  - name: rules-volume
    mountPath: /etc/prometheus/rules

  - name: prometheus-config-volume
    mountPath: /etc/prometheus/config


volumes:
  - name: prometheus-storage
    type: emptyDir

  - name: rules-volume
    type: configMap
    configMapName: prometheus-alert-rules

  - name: prometheus-config-volume
    type: configMap
    configMapName: prometheus-config

prometheus:
  image: prom/prometheus:v2.49.1
  scrapeInterval: 30s
  evaluationInterval: 30s

  scrapeConfigs: |
    # Scrape Prometheus itself
    - job_name: "prometheus"
      static_configs:
        - targets: ["localhost:9090"]

    # Auto-discovery of all pods through annotations
    - job_name: "kubernetes-service-endpoints"
      kubernetes_sd_configs:
        - role: endpoints

      relabel_configs:
        # Only scrape service with prometheus.io/scrape="true"
        - action: keep
          regex: "true"
          source_labels:
          - __meta_kubernetes_service_annotation_prometheus_io_scrape

        - source_labels: [__meta_kubernetes_service_port_name]
          regex: ".*"
          action: keep

        # Add namespace label
        - source_labels: [__meta_kubernetes_namespace]
          action: replace
          target_label: namespace

        # Add service name label
        - source_labels: [__meta_kubernetes_service_name]
          action: replace
          target_label: service

        # Set metrics path from annotation
        #- source_labels: __meta_kubernetes_pod_annotation_prometheus_io_path
        #  action: replace
        #  target_label: __metrics_path__
        #  regex: (.+)

        # Set the port from annotation
        #- source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_port, __meta_kubernetes_pod_ip]
        #  regex: "(.+);(.+)"
        #  replacement: "$2:$1"
        #  action: replace
        #  target_label: __address__

        # Bring all pod labels
        #- action: labelmap
        # regex: __meta_kubernetes_pod_label_(.+)
        
        #- action: replace
        #  regex: (.+)
        #  source_labels:
        #  - __meta_kubernetes_pod_annotation_prometheus_io_path



        # Add namespace label
        #- source_labels: __meta_kubernetes_namespace
        #  action: replace
        #  target_label: namespace

        # Add pod name label
        #- source_labels: __meta_kubernetes_pod_name
        #  action: replace
        #  target_label: pod

roleName: prometheus-cluster-role
roleBindingName: prometheus-cluster-role-binding