namespace: nilabja-haldar-dev
replicaCount: 1
Name: prometheus
saName: prometheus-sa
containerPort: 9090

image:
  repository: prom/prometheus
  tag: latest
  pullPolicy: Always

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

service:
  type: ClusterIP
  port: 9090
  targetPort: 9090
  name: prometheus

route:
  name: prometheus
  tls:
    termination: edge        # Options: edge | passthrough | reencrypt
    insecurePolicy: Allow    # Options: Allow | Redirect | None  

serviceAccount:
  name: prometheus-sa

alertmanager:
  host: "172.30.107.173:9093"

configMapName: prometheus-config  

scrapeTargets:
  - job_name: "prometheus"
    targets: ["localhost:9090"]
    labels:
      app: "prometheus"
  - job_name: "deploy-one"
    targets: ["172.30.20.193:9100"]
    labels:
      app: "deploy-one"
  - job_name: "deploy-two"
    targets: ["172.30.46.144:9100"]
    labels:
      app: "deploy-two"

volumeMounts:
  - name: prometheus-storage
    mountPath: /prometheus

  - name: rules-volume
    mountPath: /etc/prometheus/rules

  - name: prometheus-config-volume
    mountPath: /etc/prometheus/config


volumes:
  - name: prometheus-storage
    type: emptyDir

  - name: rules-volume
    type: configMap
    configMapName: prometheus-alert-rules

  - name: prometheus-config-volume
    type: configMap
    configMapName: prometheus-config

prometheus:
  image: prom/prometheus:v2.49.1
  scrapeInterval: 30s
  evaluationInterval: 30s

scrapeConfigs:
  deployOne:
    enabled: true
    jobName: "deploy-one"
    namespace: "nilabja-haldar-dev"
    appLabel: "deploy-one-deploy-one-chart"
    port: "9100"

  deployTwo:
    enabled: true
    jobName: "deploy-two"
    namespace: "nilabja-haldar-dev"
    appLabel: "deploy-two-deploy-two-chart"
    port: "9100"

roleName: prometheus-cluster-role
roleBindingName: prometheus-cluster-role-binding