apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMapName }}
  namespace: {{ .Values.namespace }}
data:
  promtail.yaml: |
    server:
      http_listen_port: {{ .Values.loki.httpPort }}
      grpc_listen_port: {{ .Values.loki.grpcPort }}

    positions:
      filename: {{ .Values.loki.fileName }}

    clients:
      - url: {{ .Values.loki.url }}

    scrape_configs:
      - job_name: {{ .Values.loki.jobName }}
        static_configs:
          - targets:
              - localhost
            labels:
              job: {{ .Values.loki.job }}
              __path__: {{ .Values.loki.path }}
