namespace: nilabja-haldar-dev

datasources:
 prometheusService: prometheus

route:
  name: grafana
  tls:
    termination: edge        # Options: edge | passthrough | reencrypt
    insecurePolicy: Allow    # Options: Allow | Redirect | None 

grafana:
  image: grafana/grafana:latest
  replicas: 1
  service:
    name: grafana
    port: 3000
  config:
    grafanaIni: |
      [server]
      root_url = http://localhost:3000
    datasource: |
      apiVersion: 1
      datasources:
        - name: Loki
          type: loki
          url: http://loki:3100
          access: proxy
        - name: Prometheus
          type: prometheus
          access: proxy
          url: http://{{ .Values.datasources.prometheusService }}.{{ .Release.Namespace }}.svc.cluster.local:9090
          isDefault: true
          editable: true       

dashboard:
  enabled: true              

loki:
  image: grafana/loki:3.1.1
  replicas: 1
  service:
    port: 3100
  config: |
    auth_enabled: false
    server:
      http_listen_port: 3100
      grpc_listen_port: 9095
    distributor:
      ring:
        kvstore:
          store: inmemory
    ingester:
      wal:
        enabled: true
        dir: /loki/wal
      lifecycler:
        address: 127.0.0.1
        ring:
          kvstore:
            store: inmemory
          replication_factor: 1
      chunk_idle_period: 5m
      chunk_retain_period: 30s
    schema_config:
      configs:
        - from: 2022-01-01
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h
    storage_config:
      tsdb_shipper:
        active_index_directory: /loki/index
        cache_location: /loki/cache
      filesystem:
        directory: /loki/chunks
    compactor:
      working_directory: /loki/compactor
      compaction_interval: 10m
    limits_config:
      reject_old_samples: true
      reject_old_samples_max_age: 168h
      retention_period: 24h
    ruler:
      rule_path: /loki/rules
      storage:
        type: local
        local:
          directory: /loki/rules
      ring:
        kvstore:
          store: inmemory
