apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMapName }}
  namespace: {{ .Values.namespace }}
data:
  prometheus.yml: |
    global:
      scrape_interval: {{ .Values.prometheus.scrapeInterval }}
      evaluation_interval: {{ .Values.prometheus.evaluationInterval }}

    alerting:
      alertmanagers:
        - static_configs:
            - targets:
                - "{{ .Values.alertmanager.host }}"

    rule_files:
      - "/etc/prometheus/rules/alert.rules.yml"

    scrape_configs:
    {{ .Values.prometheus.scrapeConfigs | indent 6 }}
#{{- range .Values.scrapeTargets }}
#      - job_name: "{{ .job_name }}"
#        static_configs:
#          - targets: [{{ range $i, $t := .targets }}{{ if $i }}, {{ end }}"{{ $t }}"{{ end }}]
#            labels:
#{{- range $key, $val := .labels }}
#              {{ $key }}: "{{ $val }}"
#{{- end }}
#{{- end }}