apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app: prometheus
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 9090